<div id="displist" class="mt-1">
    <l><i class="fas fa-headset"></i> ACT: {{ displist[1]|length > 0 ? displist[1]|join(', ') : 'NONE' }}</l><br>
    <l><i class="fas fa-car"></i> TRF: {{ displist[2]|length > 0 ? displist[2]|join(', ') : 'NONE' }}</l><br>
    <l><i class="fas fa-phone-volume"></i> OPR: {{ displist[3]|length > 0 ? displist[3]|join(', ') : 'NONE' }}</l>
</div>